<!-- DRAGEN AND DROP --COMPONENT 3 -->
<ion-grid no-padding *ngIf="data != null">
  <ion-row>
    <ion-col size="12" no-padding>
      <ion-list>
        <!--Header-->
        <ion-list-header>
          <ion-label padding-top padding-bottom>
            <h1 text-size-md font-regular text-color-accent no-margin>{{data.header}}</h1>
          </ion-label>
        </ion-list-header>
        <ion-reorder-group disabled="false" (ionItemReorder)="ionItemReorder($event)">
          <ion-item default-item lines="none" *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
            <!--Avatar-->
            <ion-avatar slot="start">
              <img [src]="item.image">
            </ion-avatar>
            <!--Title and Subtitle-->
            <ion-label padding-start>
              <h2 text-size-md font-bold text-color-primary text-wrap>{{item.title}}</h2>
              <h3 text-size-sm text-color-secondary font-regular text-wrap>{{item.subtitle}}</h3>
            </ion-label>
            <ion-reorder no-margin slot="end">
              <ion-icon icon-color-primary icon-font-lg name="reorder"></ion-icon>
            </ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
