<!-- GOOGLE CARD --COMPONENT 3 -->
<ion-grid *ngIf="data != null">
  <ion-row>
    <ion-col size="12" size-md="6" *ngFor="let item of data.items">
      <ion-card border-radius box-shadow text-center no-margin (click)="onItemClickFunc(item, $event)">
        <ion-item lines="none">
          <ion-label>
            <h2 text-size-xl text-color-primary font-regular text-wrap>{{item.title}}</h2>
          </ion-label>
          <ion-badge box-shadow margin-half slot="end">{{item.price}}</ion-badge>
        </ion-item>
        <img [src]="item.image" />
        <ion-card-content text-center>
          <h3 text-size-md text-color-light font-regular text-wrap>{{item.category}}</h3>
          <h2 text-size-xl text-color-light font-bold text-wrap>{{item.subtitle}}</h2>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
