<!-- DRAGEN AND DROP --COMPONENT 2 -->
<ion-grid no-padding *ngIf="data != null">
  <ion-row>
    <ion-col size="12" no-padding>
      <ion-list>
        <!--Header-->
        <ion-list-header no-padding>
          <ion-item no-padding lines="none">
            <ion-label text-center padding-top>
              <h1 text-size-md font-regular text-color-primary text-wrap>{{data.title}}</h1>
              <h2 text-size-sm text-color-accent font-regular text-wrap>{{data.subtitle}}</h2>
            </ion-label>
          </ion-item>
          <!--Header Button Procead---->
          <ion-button default-button box-shadow margin expand="block">
            {{data.button}}
          </ion-button>
        </ion-list-header>
        <!-- Content -->
        <ion-reorder-group disabled="false" (ionItemReorder)="ionItemReorder($event)">
          <ion-item default-item lines="none" *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
            <!-- Avatar -->
            <ion-avatar slot="start">
              <img [src]="item.image">
            </ion-avatar>
            <ion-label overflow-visible padding-start>
              <h2 text-size-md font-bold text-color-primary text-wrap>{{item.title}}</h2>
              <h3 text-size-sm text-color-secondary font-regular text-wrap>{{item.subtitle}}</h3>
              <ion-badge box-shadow>{{item.price}}</ion-badge>
            </ion-label>
            <ion-reorder no-margin slot="end">
              <ion-icon icon-color-primary icon-font-lg name="reorder"></ion-icon>
            </ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
