<!-- GOOGLE CARD --COMPONENT 2 -->
<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-row>
      <ion-col size="12" size-sm="6" *ngFor="let item of data.items">
        <ion-card box-shadow no-margin border-radius class="ion-text-start" (click)="onItemClickFunc(item, $event)">
          <div background-size [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
            <span new-category border-radius-right>
              {{item.priceText}}
              <div clearfix></div>
              {{item.price}}
            </span>
          </div>
          <!---SeeAll-->
          <ion-chip transparent class="ion-float-right">
            <ion-label text-color-primary>{{item.seeAll}}</ion-label>
            <ion-icon icon-font-sm name="arrow-forward"></ion-icon>
          </ion-chip>
          <div slider clearfix>
            <ion-card border-radius box-shadow *ngFor="let item of item.gallery" background-size [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
            </ion-card>
          </div>
          <!--Card content-->
          <ion-card-content no-padding>
            <ion-item lines="none" transparent padding-bottom>
              <ion-icon icon-round icon-font-lg icon-color-primary no-margin slot="start" [name]="item.icon"></ion-icon>
              <!--Card title-->
              <ion-label padding-start>
                <h2 text-size-xl text-color-primary font-bold text-wrap no-margin>{{item.title}}</h2>
              </ion-label>
              <!-- Share Button --->
              <ion-button fill="clear" slot="end">
                <ion-icon icon-font-md icon-color-secondary slot="icon-only" [name]="item.shareIcon"></ion-icon>
              </ion-button>
            </ion-item>
            <!--Card description-->
            <h3 text-size-sm text-color-primary font-regular text-wrap padding-end padding-start>{{item.description}}</h3>
            <ion-button margin default-button box-shadow expand="block">
              {{item.button}}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
